<div class="col-md-6 user-container">
    <h2 class="text-center">Ünvan Ekle</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="adi">Adı:</label>
        <input type="text" formControlName="adi" placeholder="Adı" name="adi" class="form-control" id="adi">
      </div>
      <div class="form-group">
          <label for="parafUnvan">Adı:</label>
          <input type="text" formControlName="parafUnvan" placeholder="parafUnvan" name="parafUnvan" class="form-control" id="parafUnvan">
        </div>
      <button class="btn btn-success">Update</button>
    </form>
  </div>
  