<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/">Home</a>
            <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
            <a class="nav-item nav-link" routerLink="/register-unvan">Ünvan Ekle</a>
            <a class="nav-item nav-link" routerLink="/view-unvans">Ünvan Listesi</a>


            <a class="nav-item nav-link" routerLink="/list-unvan">Ünvan Listesi2</a>

            <a class="nav-item nav-link" routerLink="/static-datatable">Statik Datatable</a>
            <a class="nav-item nav-link" routerLink="/client-side-datatable">Client Side Datatable</a>
            <a class="nav-item nav-link" routerLink="/server-side-datatable">Server Side Datatable</a>
            <a class="nav-item nav-link" routerLink="/sweet-alert">Sweet Alert</a>

            <a class="nav-item nav-link" (click)="logout()">Logout</a>

        </div>
    </nav>
    
    <!-- main app container -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>