<h2>Angular 7 datatable - UserList</h2>
<table datatable [dtOptions]="dtOptions" class="row-border hover"></table>

<table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"></table>

<table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Adi</th>
            <th>Paraf Ünvan</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let unvan of dtUsers">
              
            <td>{{ unvan.id }}</td>
            <td>{{ unvan.firstName }}</td>
            <td>{{ unvan.lastName }}</td>
            
          </tr>
        </tbody>
        
      </table>