<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group">
      <!-- goBack() methos to back to previous component -->
      <button class="btn btn-sm btn-outline-secondary" (click)="goBack()">Go Back</button>
    </div>
  </div>
<div class="col-md-6 user-container">
    <h2 class="text-center">Edit Ünvan</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="hidden">
        <input type="hidden" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
      </div>
      <div class="form-group">
          <label for="adi">Adı:</label>
          <input type="text" formControlName="adi" placeholder="Adı" name="adi" class="form-control" id="adi">
        </div>
        <div class="form-group">
          <label for="parafUnvan">Adı:</label>
          <input type="text" formControlName="parafUnvan" placeholder="parafUnvan" name="parafUnvan" class="form-control"
            id="parafUnvan">
        </div>
  
      <button class="btn btn-success">Update</button>
    </form>
  </div>
  